.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    position: fixed;
    left: 0;
    top: 15rem;
    right: 0;
    margin: auto;
    padding: 1rem;
    background-color: #fff;
}

.modal-header {
    background-color: #585858;
    color: white;
    text-align: center;
    height: 40px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    padding-top: 5px;
}

.modal-body {
    background-image: url('../../assets/fieldv2.png');
    background-color: #0d6efd;
    display: flex;
    flex-grow: 1;
    padding: 7px;
    height: 373px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
}

.label-title {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 5px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.input {
    width: 67%;
    padding: 0.6rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-close {
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-save {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #006600;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-open-match {
    padding: 10px 20px;
    border: none;
    border-radius: 1rem;
    background-color: rgba(13, 110, 253, 0.71);
    color: white;
    cursor: pointer;
}

.player {
    position: absolute;
    padding: 8px;
    border-radius: 50%;
}

.player-red {
    color: white;
    background-color: red;
}

.player-blue {
    background-color: #0a58ca;
    color: white;
}
